@model IEnumerable<ProyectoAnimales.Models.Animale>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propietario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propietario.PropietarioId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnimalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnimalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnimalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
        new DataTable('#example', {
        layout: {
            topStart: {
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print', 'colvis']
            }
        },
        language: {
            url: '//cdn.datatables.net/plug-ins/2.3.2/i18n/es-ES.json',
        },
        scrollX:true,
        initComplete: function(json,settings){
        $(".dt-buttons").removeClass("dt-buttons");
        //agregar clase para añadir estilos personalizados
        $(".dt-button").addClass("botones");
        //elimina la clase de los estilos por defecto de datatables
        $(".dt-button").addClass("botones");
    },
        topStart: {
        buttons: [
            {
                extend: 'copy',
                text: 'Copiar',
                className: 'botonCopiar btn' // Added 'btn' class
            },
            {
                extend: 'csv',
                text: 'exportar CSV',
                className: 'botonCsv btn' // Added 'btn' class
            },
            {
                extend: 'excel',
                text: 'exportar Excel',
                className: 'botonExcel btn' // Added 'btn' class
            },
            {
                extend: 'pdf',
                text: 'exportar Pdf',
                className: 'botonPdf btn' // Added 'btn' class
            },
            {
                extend: 'print',
                text: 'Imprimir',
                className: 'botonPrint btn' // Added 'btn' class
            },
            {
                extend: 'colvis',
                text: 'Filtrar',
                className: 'botonColvis btn' // Added 'btn' class
            }
        ]
    }


});
</script>
